rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false; 
    }

    function isSignedIn() { return request.auth != null; }
    function isOwner(userId) { return isSignedIn() && request.auth.uid == userId; }

    match /users/{userId} {
      allow read: if isOwner(userId);
      allow create: if isOwner(userId) && request.resource.data.keys().hasAll(['email', 'walletBalance']) && request.resource.data.walletBalance == 10000;
      allow update: if isOwner(userId);
      allow delete: if false;
    }
    
    match /users/{userId}/bets/{betId} {
      allow read: if isOwner(userId);
      allow write: if isOwner(userId);
    }
    
    match /users/{userId}/transactions/{txId} {
      allow read: if isOwner(userId);
      allow write: if isOwner(userId);
    }


    match /periods_1/{periodId} {
      allow read, write: if true;
    }
    match /periods_3/{periodId} {
      allow read, write: if true;
    }
    match /periods_5/{periodId} {
      allow read, write: if true;
    }
    match /periods_10/{periodId} {
      allow read, write: if true;
    }
  }
}
